<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout/layout}" xmlns:th="http://www.thymeleaf.org/">
<head>
  <title>Manutenção de Reserva</title>
</head>
<body>
  <div layout:fragment="page-content">
	<!-- Validation wizard -->
	   <div class="card wizard-content">
	       <div class="card-body">
	           <h4 class="card-title">Formulario de Reserva</h4>
	           <h6 class="card-subtitle">Preencha o formulario</h6>
	           <div class="btn-group" role="group" aria-label="Buttons">
				  <button type="button" class="btn btn-secondary" onclick="javascript:showModalBusca();">Procurar</button>
				  <button type="button" class="btn btn-danger" onclick="javascript:deletarCliente();">Deletar</button>
			   </div>
	           <form th:action="@{/cadastro/cliente/save}" class="validation-wizard wizard-circle" id="formCliente" name="formCliente" method="post">
               <h6>Dados Gerais</h6>
				<section>
				    <div class="row">
				        <div class="col-md-2">
				            <div class="form-group">
				                <label for="codigoCliente"> Código : </label>
				                <input type="text" class="form-control" id="codigoCliente" name="codigoCliente" maxlength="9">
				            </div>
				        </div>
				        <div class="col-md-5">
				            <div class="form-group">
				                <label for="cliente"> Cliente : <span class="danger">*</span> </label>
				                <select id="cliente" name="cliente" class="form-control">
			                    	<option th:each="qt : ${quarto}" th:value="${qt.key}" th:text="${qt.value}"></option>
			                    </select>
				            </div>
				        </div>
				        <div class="col-md-5">
				            <div class="form-group">
				                <label for="tipoQuarto"> Tipo de Quarto : <span class="danger">*</span> </label>
				                <select id="tipoQuarto" name="tipoQuarto" class="form-control">
			                    	<option value="ERR"> ERR </option>
			                    </select>
				            </div>
				        </div>
				        <div class="col-md-6">
				            <div class="form-group">
				                <label for="inicioEstadia"> Inicio da Estadia : <span class="danger">*</span> </label>
				                <input type="text" class="form-control" id="inicioEstadia" name="inicioEstadia" maxlength="10">
				            </div>
				        </div>
				        <div class="col-md-6">
				            <div class="form-group">
				                <label for="fimEstadia"> Fim da Estadia : <span class="danger">*</span> </label>
				                <input type="text" class="form-control" id="fimEstadia" name="fimEstadia" maxlength="10">
				            </div>
				        </div>
				        <div class="col-md-6">
				            <div class="form-group">
				                <label for="horaCheckin"> Hora de Check-In : <span class="danger">*</span> </label>
				                <input type="text" class="form-control" id="horaCheckin" name="horaCheckin" maxlength="10" disabled="disabled">
				            </div>
				        </div>
				        <div class="col-md-6">
				            <div class="form-group">
				                <label for="horaCheckout"> Fim da Estadia : <span class="danger">*</span> </label>
				                <input type="text" class="form-control" id="horaCheckout" name="horaCheckout" maxlength="10" disabled="disabled">
				            </div>
				        </div>
				        <div class="col-md-6">
				            <div class="form-group">
				                <label for="statusEstadia"> Status : <span class="danger">*</span> </label>
				                <select id="statusEstadia" name="statusEstadia" class="form-control">
			                    	<option value="1"> Ativa </option>
			                    	<option value="2"> Cancelada </option>
			                    </select>
				            </div>
				        </div>
				    </div>
			    </section>
	     	</form>
	      </div>
	  </div>
  </div>
</body>
</html>

<form th:action="@{/cadastro/cliente/deletar}" id="deletarForm" name="deletarForm" method="POST">
</form>

<!-- Modal -->
<div class="modal fade" id="modalBusca" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Buscar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form th:action="@{/cadastro/cliente/busca}" id="buscarForm" name="buscarForm" method="POST">
      		<div class="row">
		      	<div class="col-md-12">
		          <div class="form-group">
		              <label for="nome"> Nome : <span class="danger">*</span> </label>
		              <input type="text" class="form-control" id="nomeCliente" name="nomeCliente" maxlength="50">
		          </div>
		      </div>
	      </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="javascript:buscarCliente();">Buscar</button>
      </div>
    </div>
  </div>
</div>
<!-- Page JS -->
<script th:src="@{/assets/plugins/wizard/jquery.steps.min.js}"></script>
<script th:src="@{/assets/plugins/wizard/jquery.validate.min.js}"></script>
<!-- Sweet-Alert  -->
<script th:src="@{/assets/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Page CSS-->
<link th:href="@{/assets/plugins/wizard/steps.css}" rel="stylesheet">
<!--alerts CSS -->
<link th:href="@{/assets/plugins/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css">
<!-- App JS -->
<script th:src="@{/js/app.js}"></script>
<!-- Date picker plugins css -->
<link th:href="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />
<!-- Date Picker Plugin JavaScript -->
<script th:src="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.pt-BR.js}"></script>
<!-- Jquery Mask -->
<script th:src="@{/assets/plugins/jquery-mask/jquery.mask.min.js}"></script>
<script th:inline="javascript">
    
    function gravar()
    {	
    	var form = $('form#formCliente');
		if(form.valid())
		{
	    	showLoading();
			var dados = form.serialize();

			$.ajax({
   	            url : $('form#formCliente').attr('action'),
   	            type : "POST",
   	            data : dados,
   	            dataType : "json",
   	            success : function(data)
   	            {
   	            	if(true==data.status)
                    {
 	            		showSweetalertSuccess('Alerta!', data.message,'5000');
 	            		$(".error").removeClass("error");
                    }
                    else
                    {
               	    	showSweetalertWarning('Alerta!', data.message,'5000');
                    }
   	            	$('#block1').hide();
   	            	$('#block2').hide();
   	           }
    	    }).fail(function()
    	    {
        		showSweetalertWarning('Alerta!', 'Ocorreu um erro ao gravar o Cliente.','5000');
	            $('#block1').hide();
   	            $('#block2').hide();
    	    }).always(function()
    	    {
    	    	$('#block1').hide();
    	    	$('#block2').hide();
    	    });
		}
    }
    
    function showModalBusca()
    {
    	$('#modalBusca').modal('show');
    }
    
    function hideModalBusca()
    {
    	var nomeCliente = $('form#buscarForm input#nomeCliente').val("");
    	$('#modalBusca').modal('hide');
    }
    
    function deletarCliente()
    {
    	var codigoCliente = $('form#formCliente input#codigoCliente').val();
    	if(codigoCliente != "" || codigoCliente != null || codigoCliente != "undefined")
    	{
           	hideModalBusca();
    		$('#block1').show();
           	$('#block2').show();
           	
			$.ajax({
   	            url : $('form#deletarForm').attr('action'),
   	            type : "POST",
   	            data : {codigoCliente: codigoCliente},
   	            dataType : "json",
   	            success : function(data)
   	            {
   	            	if(true==data.status)
                    {
   	            		showSweetalertSuccess('Alerta!', data.message,'5000');
                    }
                    else
                    {
               	    	showSweetalertWarning('Alerta!', data.message,'5000');
                    }
   	            	$('#block1').hide();
   	            	$('#block2').hide();
   	           }
    	    }).fail(function()
    	    {
        		showSweetalertWarning('Alerta!', 'Ocorreu um erro ao deletar o Cliente.','5000');
	            $('#block1').hide();
   	            $('#block2').hide();
    	    }).always(function()
    	    {
    	    	$('#block1').hide();
    	    	$('#block2').hide();
    	    });
    	}
    }
    
    function buscarCliente()
    {
    	var nomeCliente = $('form#buscarForm input#nomeCliente').val();
    	if(nomeCliente != "" || nomeCliente != null || nomeCliente != "undefined")
    	{
           	hideModalBusca();
    		$('#block1').show();
           	$('#block2').show();
           	
			$.ajax({
   	            url : $('form#buscarForm').attr('action'),
   	            type : "POST",
   	            data : {nomeCliente: nomeCliente},
   	            dataType : "json",
   	            success : function(data)
   	            {
   	            	if(true==data.status)
                    {
 	            		$('form#formCliente input#codigoCliente').val(data.cliente.codigo);
 	            		$('form#formCliente input#nomeCliente').val(data.cliente.nome);
 	            		$('form#formCliente input#dataNascimento').val(data.cliente.dataNascimento);
 	            		$('form#formCliente input#telefone').val(data.cliente.dadosContato.telefone);
 	            		$('form#formCliente input#celular').val(data.cliente.dadosContato.celular);
 	            		$('form#formCliente input#cpf').val(data.cliente.dadosDocumentos.cpf);
 	            		$('form#formCliente input#rg').val(data.cliente.dadosDocumentos.rg);
 	            		$('form#formCliente input#email').val(data.cliente.dadosContato.email);
 	            		$('form#formCliente input#endereco').val(data.cliente.dadosEndereco.endereco);
 	            		$('form#formCliente input#bairro').val(data.cliente.dadosEndereco.bairro);
 	            		$('form#formCliente input#cep').val(data.cliente.dadosEndereco.cep);
 	            		$('form#formCliente input#estado').val(data.cliente.dadosEndereco.estado);
 	            		$('form#formCliente input#cidade').val(data.cliente.dadosEndereco.cidade);
                    }
                    else
                    {
               	    	showSweetalertWarning('Alerta!', data.message,'5000');
                    }
   	            	$('#block1').hide();
   	            	$('#block2').hide();
   	           }
    	    }).fail(function()
    	    {
        		showSweetalertWarning('Alerta!', 'Ocorreu um erro ao buscar o Cliente.','5000');
	            $('#block1').hide();
   	            $('#block2').hide();
    	    }).always(function()
    	    {
    	    	$('#block1').hide();
    	    	$('#block2').hide();
    	    });
		}
    }
    
    $(document).ready(function()
    {
        var form = $(".validation-wizard").show();
        
        $(".validation-wizard").steps({
            headerTag: "h6"
            , bodyTag: "section"
            , transitionEffect: "fade"
            , titleTemplate: '<span class="step">#index#</span> #title#'
            , labels: {
            	next: "Próximo",
            	previous: "Voltar",
                finish: "Gravar"
            }
            , onStepChanging: function (event, currentIndex, newIndex) {
                //return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
                return (currentIndex > newIndex) || (form.validate().settings.ignore = ":disabled,:hidden", form.valid());
            }
            , onFinishing: function (event, currentIndex) {
            	return (form.validate().settings.ignore = ":disabled,:hidden", form.valid());
            }
            , onFinished: function (event, currentIndex) {
                 gravar();
            }
        }), $(".validation-wizard").validate({
            ignore: "input[type=hidden]"
            , errorClass: "text-danger"
            , successClass: "text-success"
            , highlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            }
            , unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            }
            , errorPlacement: function (error, element) {
                error.insertAfter(element)
            }
            , rules: {
            		cliente:
            		{
            			required: true
            		},
            		tipoQuarto:
            		{
            			required: true
            		},
            		inicioEstadia:
            		{
            			required: true
            		},
            		fimEstadia:
            		{
            			required: true
            		}
                },
                messages:
                {
                	cliente:
            		{
            			required: "Cliente é obrigatório"
            		},
            		tipoQuarto:
            		{
            			required: "Tipo de Quarto é obrigatório"
            		},
            		inicioEstadia:
            		{
            			required: "Inicio da Estadia é obrigatório"
            		},
            		fimEstadia:
            		{
            			required: "Fim da Estadia é obrigatório"
            		}
                }
        });
        
         $("form#formCliente input#codigoCliente").inputFilter(function(value)
        {
        	return /^\d*$/.test(value);
       	});
        
        $("form#formCliente input#inicioEstadia").datepicker({
        	format: 'dd/mm/yyyy',
        	language: 'pt-BR',
        	orientation: 'bottom',
        	autoclose: 'true'
        });
        
        $("form#formCliente input#fimEstadia").datepicker({
        	format: 'dd/mm/yyyy',
        	language: 'pt-BR',
        	orientation: 'bottom',
        	autoclose: 'true'
        });
    });
</script>