<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout/layout}" xmlns:th="http://www.thymeleaf.org/">
<head>
  <title>Manutenção de Cliente</title>
</head>
<body>
  <div layout:fragment="page-content">
	<!-- Validation wizard -->
	   <div class="card wizard-content">
	       <div class="card-body">
	           <h2 class="card-title">Hotel CRUD</h2>
	           
	           <h5>Selecione uma opção no menu.</h5>
	      </div>
	  </div>
  </div>
</body>
</html>