<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{Layout/layout}">
<head>
  <title>Manutenção de Cliente</title>
</head>
<body>
  <div layout:fragment="page-content">
      <div class="card-body">
            <h4 class="card-title">Cadastro</h4>
            <!--<h6 class="card-subtitle">You can us the validation like what we did</h6>
            <form action="#" class="validation-wizard wizard-circle">-->
                <!-- Step 1 --> 
                <h6>Step 1</h6>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="codigoCliente"> Código : <span class="danger">*</span> </label>
                                <input type="text" class="form-control required" id="codigoCliente" name="codigoCliente"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NomeCompleto"> Nome : <span class="danger">*</span> </label>
                                <input type="text" class="form-control required" id="NomeCompleto" name="NomeCliente"> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DataDeNascimento"> Data de Nascimento : <span class="danger">*</span> </label>
                                <input type="text" class="form-control required" id="DataDeNascimento" name="DataDeNascimento"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TelefoneF"> Telefone Fixo :</label>
                                <input type="text" class="form-control" id="TelefoneF"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="Celular1"> Celular  :</label>
                                <input type="text" class="form-control" id="Celular1"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="CPF"> Cpf :</label>
                                <input type="text" class="form-control" id="CPF"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="RG"> Rg :</label>
                                <input type="text" class="form-control" id="RG"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="E-MAIL"> E-mail :</label>
                                <input type="text" class="form-control" id="E-MAIL"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="ATIVO"> Ativo :</label>
                                <input type="text" class="form-control" id="ATIVO"> </div>
                        </div>
                   <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Location2"> Selecione seu País : <span class="danger">*</span> </label>
                                <select class="custom-select form-control required" id="Location2" name="location">
                                    <option value="">Selecione sua Cidade</option>
                                    <option value="India">Afeganistão</option>
                                    <option value="USA">África do Sul</option>
                                    <option value="Dubai">Alemanha</option>
                                    <option value="India">Angola</option>
                                    <option value="USA">Antiga e Barbuda</option>
                                    <option value="Dubai">Arábia Saudita</option>
                                    <option value="India">Argélia</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>-->
                <!-- Step 2 -->
                
                <h6>Dados de Alteração</h6>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="UsuarioDeCriaçao"> Usuario de criação :</label>
                                <input type="date" class="form-control" id="UsuarioDeCriaçao"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="DataDeCriaçao"> DC :</label>
                                <input type="date" class="form-control" id="DataDeCriaçao"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="UsuarioDeAlteraçao"> UA :</label>
                                <input type="date" class="form-control" id="UsuarioDeAlteraçao"> </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="DataDeAlteraçao"> DA :</label>
                                <input type="date" class="form-control" id="DataDeAlteraçao"> </div>
                        </div>
                    
                </section>
                
                
                <!-- Step 3 -->
                <h6>Step 3</h6>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="wint1">Interview For :</label>
                                <input type="text" class="form-control required" id="wint1"> </div>
                            <div class="form-group">
                                <label for="wintType1">Interview Type :</label>
                                <select class="custom-select form-control required" id="wintType1" data-placeholder="Type to search cities" name="wintType1">
                                    <option value="Banquet">Normal</option>
                                    <option value="Fund Raiser">Difficult</option>
                                    <option value="Dinner Party">Hard</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="wLocation1">Location :</label>
                                <select class="custom-select form-control required" id="wLocation1" name="wlocation">
                                    <option value="">Select City</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Dubai">Dubai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="wjobTitle2">Interview Date :</label>
                                <input type="date" class="form-control required" id="wjobTitle2">
                            </div>
                            <div class="form-group">
                                <label>Requirements :</label>
                                <div class="m-b-10">
                                    <label class="custom-control custom-radio">
                                        <input id="radio5" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-label">Employee</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radio6" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-label">Contract</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               
                <!-- Step 4 -->
                <h6>Step 4</h6>
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="behName1">Behaviour :</label>
                                <input type="text" class="form-control required" id="behName1">
                            </div>
                            <div class="form-group">
                                <label for="participants1">Confidance</label>
                                <input type="text" class="form-control required" id="participants1">
                            </div>
                            <div class="form-group">
                                <label for="participants1">Result</label>
                                <select class="custom-select form-control required" id="participants1" name="location">
                                    <option value="">Select Result</option>
                                    <option value="Selected">Selected</option>
                                    <option value="Rejected">Rejected</option>
                                    <option value="Call Second-time">Call Second-time</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="decisions1">Comments</label>
                                <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Rate Interviwer :</label>
                                <div class="c-inputs-stacked">
                                    <label class="inline custom-control custom-checkbox block">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label ml-0">1 star</span>
                                    </label>
                                    <label class="inline custom-control custom-checkbox block">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label ml-0">2 star</span>
                                    </label>
                                    <label class="inline custom-control custom-checkbox block">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label ml-0">3 star</span>
                                    </label>
                                    <label class="inline custom-control custom-checkbox block">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label ml-0">4 star</span>
                                    </label>
                                    <label class="inline custom-control custom-checkbox block">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label ml-0">5 star</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
      </div>
  </div>
</body>
</html>
<!-- Page JS -->
<script th:src="@{/assets/plugins/wizard/jquery.steps.min.js}"></script>
<script th:src="@{/assets/plugins/wizard/jquery.validate.min.js}"></script>
<!-- Sweet-Alert  -->
<script th:src="@{/assets/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Page CSS-->
<link th:href="@{/assets/plugins/wizard/steps.css}" rel="stylesheet">
<!--alerts CSS -->
<link href="../assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<script th:inline="javascript">
    $('document').ready(function()
    {
        var form = $(".validation-wizard").show();
        
        $(".validation-wizard").steps({
            headerTag: "h6"
            , bodyTag: "section"
            , transitionEffect: "fade"
            , titleTemplate: '<span class="step">#index#</span> #title#'
            , labels: {
                finish: "Submit"
            }
            , onStepChanging: function (event, currentIndex, newIndex) {
                return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
            }
            , onFinishing: function (event, currentIndex) {
                return form.validate().settings.ignore = ":disabled", form.valid()
            }
            , onFinished: function (event, currentIndex) {
                 swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
            }
        }), $(".validation-wizard").validate({
            ignore: "input[type=hidden]"
            , errorClass: "text-danger"
            , successClass: "text-success"
            , highlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            }
            , unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            }
            , errorPlacement: function (error, element) {
                error.insertAfter(element)
            }
            , rules: {
                email: {
                    email: !0
                }
            }
        });
    });
</script>